# ignore all build dirs
build-*/
build/

# ignore download dirs
downloads/
downloads

# ignore deploy dirs
/deploy/


# ignore repo tool
repo
.repo/

# ignore tmp dir
tmp/

# ignore ss-state
sstate-cache/
sstate-cache

# ignore manifest dir
manifest/

# machines dir
/raspberrypi3/
/qemux86/
/qemux86-64/