# ignore all build dirs
build-*/
build/

# ignore download dirs
downloads/
downloads

# ignore deploy dirs
/deploy/


# ignore repo tool
repo
.repo/

# ignore tmp dir
tmp/

# ignore ss-state
sstate-cache/
sstate-cache

# ignore manifest dir
manifest/

# ignore my private layers
/sources/private/*

# machines dir
/BUILD/
/raspberrypi3/
/qemux86/
/qemux86-64/
/qemuriscv64/
/qemuarm/
/qemuarm64/

# private dir
/private/
