[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "sources/meta-qt5.6"]
	path = sources/meta-qt5.6
	url = https://github.com/coldnew/meta-qt5.6.git
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
[submodule "sources/meta-xilinx"]
	path = sources/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
