# ignore local config
.local_config

# ignore all build dirs
build-*/
build/

# ignore all meta sources
sources/

# ignore download dirs
downloads/
downloads

# ignore repo tool
repo
.repo/

# ignore user's local.conf
conf/local.conf

# ignore tmp dir
tmp/

# ignore ss-state
sstate-cache/
sstate-cache

# ignore manifest dir
manifest/
